<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
  </head>
  <body>
    {{>navbar}}
   
  {{!-- Section One Start --}}
    <div class="container-fluid mt-5">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              <h1>We WILL HELP YOU TO</h1>
              <h1>GROW YOUR BUSINESS</h1>
              <p>A new perfection of <span class="bold-style">learning</span></p>
              <button class="btn-style btn-primary">Read more </button>
            </div>
            {{!-- right side --}}
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
              <figure>
                <img src="images/growth.svg" alt="hero_section_images">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{!-- Section One End --}}

  {{!-- Section About Start --}}
    {{>about}}
  {{!-- Section About End --}}

   {{!-- Section gallary Start --}}
    {{>gallary}}
  {{!-- Section gallary End --}}

  {{!-- Section Services Start --}}
    {{>services}}
  {{!-- Section Services End --}}
  
  {{!-- Section Maps Start --}}
    {{>maps}}
  {{!-- Section Maps End --}}

  {{!-- Section contact Start --}}
    {{>contact}}
  {{!-- Section contact End --}}
  

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
  </body>
</html>