    <div class="container-fluid mt-5 about-style" id="gallaryid">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">Gallary</h1>
          <p class="text-center sub-heading">grow your business with us</p>
          <div class="row">
              
            <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
              <h1>We ARE PROFESSIONAL</h1>
              <p>Welcome to <span class="bold-style">learning</span>. Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
              <button class="btn-style btn-primary">Read more </button>
            </div> 

            {{!-- right side --}}  
            <div class="col-md-6 col-12 hero-text order-md-1 order-0">
              <figure>
                <img src="images/about.svg" alt="hero_section_images">
              </figure>
            </div>
                
          </div>
        </div>
      </div>
    </div>