<section>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d636369.5362607567!2d83.5460995640509!3d28.223160732052573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3995937bbf0376ff%3A0xf6cf823b25802164!2sPokhara%2C%20Nepal!5e0!3m2!1sen!2sbd!4v1633197985656!5m2!1sen!2sbd"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</section>