<div class="container-fluid mt-5 about-style" id="serviceid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Our Services</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        <div class="col-md-4">
          <div class="box">
            <div class="our-services settings">
              <div class="icon">
                <img src="https://i.imgur.com/6NKPrhO.png" alt="Sattings.png" />
              </div>
              <h4>Settings</h4>
              <p>It is a long established fact that a reader will.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services speedup">
              <div class="icon">
                <img src="https://i.imgur.com/KMbnpFF.png" alt="Speedup.png" />
              </div>
              <h4>SpeedUp</h4>
              <p>It is a long established fact that a reader will.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services privacy">
              <div class="icon">
                <img src="https://i.imgur.com/v6OnUqu.png" alt="Privacy.png" />
              </div>
              <h4>Privacy</h4>
              <p>It is a long established fact that a reader will.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services backups">
              <div class="icon">
                <img src="https://i.imgur.com/VzjZw9M.png" alt="Backups.png" />
              </div>
              <h4>backups</h4>
              <p>It is a long established fact that a reader will.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services ssl">
              <div class="icon">
                <img src="https://i.imgur.com/vdH9LKi.png" alt="SSL_Security.png" />
              </div>
              <h4>SSL security</h4>
              <p>It is a long established fact that a reader will.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="box">
            <div class="our-services database">
              <div class="icon">
                <img src="https://i.imgur.com/v6OnUqu.png" alt="Database.png" />
              </div>
              <h4>Database</h4>
              <p>It is a long established fact that a reader will.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>